.anchorpersonMain {
  width: 80%;
  margin: 30px auto;
  padding-bottom: 10px;
  box-shadow: 1px -1px 2px 2px rgba(185, 179, 179, 0.5);
  background-color: white;
}

.anchorpersonMain .anChorPersonTranslate {
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
}

.anchorpersontitle {
  padding-top: 10px;
  padding-left: 10px;
}

.topAnchorPerson ul {
  width: 100%;
  overflow: hidden;
}

.topAnchorPerson ul li {
  float: left;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  animation: personUP 2s infinite;
  width: 15%;
  height: 40px;
  background-color: var(--el-color-opcatiy);
  border-radius: 12px;
  display: flex;
}

.topAnchorPerson ul li .personPhoto {
  width: 30px;
  height: 30px;
}

.topAnchorPerson ul li .personPhoto img {
  margin-top: 5px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.topAnchorPerson ul li .personName {
  text-align: center;
  max-width: 150px;
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 15px;
  color: #fbf9f9;
}

.topAnchorPerson ul li .personLover {
  margin-top: 7px;
  margin-left: 10px;
  height: 100%;
  position: relative;
}

.topAnchorPerson ul li .personLover .icon {
  position: absolute;
  top: -4px;
}

.topAnchorPerson ul li .personLover p {
  position: absolute;
  bottom: 6px;
  transform: scale(0.7);
  color: white;
}

.transformNew {
  position: relative;
  left: 100px;
}
