.commetListshow {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.leftCommentList {
  width: 55%;
}
.leftCommentList .leftCommentMain {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.leftCommentList .leftCommentMain .leftLeftMain {
  transition: 0.4s;
  box-shadow: 1px -1px 2px 2px rgba(185, 179, 179, 0.5);
  width: 68%;
  margin-top: 20px;
  height: 600px;
  position: relative;
}
.leftCommentList .leftCommentMain .leftLeftMain img {
  padding: 5px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  cursor: pointer;
}
.leftCommentList .leftCommentMain .leftLeftMain video {
  padding: 5px;
  width: 100%;
  cursor: pointer;
  height: 100%;
  transition: 0.4s;
}
.leftCommentList .leftCommentMain .leftrightCommenMain {
  width: 30%;
  height: 500px;
}
.leftCommentList .leftCommentMain .leftrightCommenMain .leftrightCommenMainList {
  width: 100%;
  height: 500px;
}
.leftCommentList .leftCommentMain .leftrightCommenMain .leftrightCommenMainList ul {
  width: 100%;
}
.leftCommentList .leftCommentMain .leftrightCommenMain .leftrightCommenMainList ul li {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 1px -1px 2px 2px rgba(185, 179, 179, 0.5);
}
.leftCommentList .leftCommentMain .leftrightCommenMain .leftrightCommenMainList ul li video {
  padding: 5px;
  width: 100%;
  transition: 0.4s;
  height: 100%;
}
.leftCommentList .leftCommentMain .leftrightCommenMain .leftrightCommenMainList ul li img {
  width: 100%;
  transition: 0.4s;
  padding: 5px;
  height: 100%;
}

.rightCommentList {
  margin-left: 15px;
  width: 44%;
  overflow-x: hidden;
  position: relative;
}
.rightCommentList .rightCommentListConten {
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  margin-top: 30px;
  left: 0px;
  height: 600px;
  box-shadow: 1px -1px 2px 2px rgba(185, 179, 179, 0.5);
}
.rightCommentList .rightCommentListConten ul {
  overflow-x: hidden;
  background-color: var(--el-color-opcatiy);
}
.rightCommentList .rightCommentListConten ul li {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  border-bottom: 1px solid var(--el-color-primary);
}
.rightCommentList .rightCommentListConten ul li .mainShowuser {
  width: 95%;
  padding-top: 10px;
  position: relative;
  border-radius: 5px;
  margin: 0px auto;
  display: flex;
  left: -15px;
  background-color: white;
  height: 80px;
}
.rightCommentList .rightCommentListConten ul li .mainShowuser .leftuserPhoto {
  width: 10%;
  margin-left: 30px;
  margin-top: 5px;
}
.rightCommentList .rightCommentListConten ul li .mainShowuser .leftuserPhoto img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.rightCommentList .rightCommentListConten ul li .mainShowuser .middleuserConten {
  text-align: center;
  width: 40%;
  position: relative;
  overflow: hidden;
  margin-top: 5px;
  font-size: 14px;
  margin-left: 10px;
  color: rgb(81, 80, 80);
}
.rightCommentList .rightCommentListConten ul li .mainShowuser .middleuserConten p {
  width: 100%;
  transform: translate(-50%, -80%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.rightCommentList .rightCommentListConten ul li .mainShowuser .rightContenFire {
  width: 10%;
  margin-left: 10px;
  position: relative;
}
.rightCommentList .rightCommentListConten ul li .mainShowuser .rightContenFire .fireConten {
  position: absolute;
  top: 50%;
  transform: translate(0%, -70%);
}
.rightCommentList .rightCommentListConten ul li .mainShowuser .rightContenFire span {
  font-size: 12px;
  transform: scale(0.9);
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  margin-left: 10px;
}

.titelCommnt {
  font-size: 30px;
  color: var(--el--title--color);
  text-shadow: 1px -1px 2px rgba(116, 113, 113, 0.5);
}

.leftTitleCommentMain {
  position: absolute;
  top: 70%;
  left: 10%;
}
.leftTitleCommentMain .titleMain {
  font-size: 25px;
  color: white;
  text-shadow: 1px -1px 2px rgba(52, 49, 49, 0.5);
}
.leftTitleCommentMain .authMain {
  font-size: 20px;
  color: white;
  text-shadow: 1px -1px 2px rgba(52, 49, 49, 0.5);
}

.hoverComment {
  display: none;
}

.titieOnceComment {
  position: absolute;
  top: 70%;
  left: 6%;
  font-size: 13px;
  color: white;
  text-shadow: 1px -1px 2px rgba(52, 49, 49, 0.5);
}

.fireContensvg {
  position: relative;
  width: 20px;
}
.fireContensvg .icon {
  position: absolute;
  top: 20%;
  margin-left: 20px;
}

.upshow {
  position: relative;
}

@keyframes jumpUpfire {
  0% {
    top: 0px;
  }
  100% {
    top: -90px;
  }
}
.showFixed {
  display: none;
}

.otherShow {
  margin-top: 20px !important;
}

.fixedupShow {
  position: relative;
}

.srcollUserTop {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.jumptopShow {
  transition: 0.4s;
}/*# sourceMappingURL=cilentComment.css.map */