.nailTop {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 6;
  background-color: white;
  border-bottom: 1px solid var(--el-color-primary);
}

.nailTop .nailTopCenter {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0px auto;
}

.nailTop .nailTopCenter .leftNailTopBtn {
  width: 50%;
  margin-top: 30px;
}

.nailTop .nailTopCenter .leftNailTopBtn ul li {
  float: left;
  margin-left: 25px;
  transition: 0.5s;
  font-size: 19px;
}

.nailTop .nailTopCenter .leftNailTopBtn ul li:hover {
  color: var(--el-color-primary);
  cursor: pointer;
}

.nailTop .nailTopCenter .userNail {
  width: 30%;
  margin-top: 25px;
  display: flex;
}

.searchContain {
  width: 200px;
}

.showStatusColor {
  color: var(--el-color-primary);
}

.searchNailInput {
  margin-top: -30px;
  margin-left: 10px;
  float: left;
}

.searchContainer {
  width: 200px;
  height: 100px;
  position: relative;
}

.searchContainer .searchradius {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0.8);
  width: 50px;
  height: 50px;
  background: var(--el-color-primary);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(74, 73, 73, 0.1);
}

.searchContainer .searchradius:hover {
  cursor: pointer;
}

.searchContainer .searchradius::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}

.searchContainer .searchradius::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}

.searchContainer input {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 45px;
  outline: none;
  border: none;
  transform: scale(0.9);
  background: var(--el-color-primary);
  color: white;
  text-shadow: 0 0 10px var(--el-color-primary);
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 var(--el-color-primary), 0 20px 25px 0 rgba(0, 0, 0, 0.1);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.searchContainer input:hover {
  cursor: pointer;
}

.searchContainer input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}

.searchContainer input:focus ~ .searchradius {
  right: -320px;
  background: #7ca86d;
  z-index: 6;
}

.searchContainer input:focus ~ .searchradius::before {
  top: 0;
  left: 0;
  width: 25px;
}

.searchContainer input:focus ~ .searchradius::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.searchContainer input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.Usermessage .nailMessage:hover {
  cursor: pointer;
}

.Usermessage ul li {
  float: left;
  margin-left: 20px;
}

.Usermessage ul li p {
  text-align: center;
  font-size: 15px;
}

.Usermessage ul li:hover {
  cursor: pointer;
}

iconNail {
  transition: 0.3s;
}

.iconNail:hover {
  position: relative;
  top: -6px;
}

.userPhoto {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  top: -2px;
  transition: 0.5s;
}

.userPhoto img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userPhoto:hover {
  transform: scale(1.4);
  top: 0px;
}
