.recommedTypeCenter {
    width: 80%;
    padding-bottom: 20px;
    margin: 10px auto;
    .recommedTypeMain {
        width: 100%;
        overflow: hidden;
        position: relative;
        left: -3%;
        ul {
            position: relative;
            // left: -4%;

            li {
                margin-bottom: 10px;
                width: 12%;
                float: left;
                margin-left: 30px;
                border: 1px solid var(--el-color-primary);
                border-radius: 5px;
                margin-top: 10px;
                height: 250px;
                position: relative;

                .centerTyperecommed {
                    position: absolute;
                    left: 50%;
                    top: 30%;
                    transform: translate(-50%, -20%);

                    .topShowSvgType {
                        width: 100%;

                        img {
                            overflow: hidden;
                            border-radius: 50%;
                            width: 100px;
                            height: 100px;
                        }
                    }
                }

                .recommedTypeName {
                    width: 100%;
                    text-align: center;
                    margin-top: 15px;
                    font-size: 17px;
                    color: rgb(120, 116, 116);
                }
            }
        }
    }
}

.recommedNumberFire {
    position: relative;
    font-size: 15px;
    top: -2px;
}

.recommedTypeName {
    p:hover {
        color: var(--el-color-primary);
        cursor: pointer;
    }
}

.floatshowType {
    width: 250px;
    height: auto;
    border-radius: 6px;
    position: absolute;
    padding: 10px;
    display: none;
    right: -270px;
    z-index: 6;
    background-color: white;
    box-shadow: 1px -1px 2px 2px rgba(185, 179, 179, 0.5);
}

.floatTypeName {
    font-size: 19px;
    color: rgb(29, 29, 29);
}

.floatTypeAbout {
    color: rgb(158, 157, 157);
}

.floatTypeImg {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}

.showTypeList:hover {
    cursor: pointer;

    .floatshowType {
        display: inline-block;
    }
}

.recommedviedohomePage {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    overflow: hidden;
}

.recommedViedoMain {
    width: 100%;

    .recommedViedoMainonce {
        margin-top: 10px;
        margin-left: 10px;
        width: 20%;
        border-radius: 6px;
        overflow: hidden;
        float: left;
        margin: 0 auto;

        .recommedViedoMainonceCenter {
            width: 90%;
            margin: 0 auto;

            .recommedViedoMainImg {
                width: 100%;
                height: 150px;
                border-radius: 6px;
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.bottomviedoAbout{
    position: absolute;
    bottom: 0px;
    left: 5px;
}
.bottomviedoAboutnumber{
    color: #e6e6e6;
    font-size: 14px;
    position: relative;
    top: -2px;
}
.recommendAbouttitleAndup{
    width: 100%;
    margin-top: 10px;
    .viedoTitle{
        max-height: 50px;
        overflow: hidden;
    }
}
.viedoTitleup{
    max-height: 50px;
    overflow: hidden;
    width: 100%;
    .icon{
        position: relative;
        top: 2px;
    }
    .viedoTitleupName{
        font-size: 14px;
        color: #8a8a8a;
    }
}