.chat {
  width: 100%;
  overflow: hidden;
  display: flex;
}
.chat .chatPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chat .chatPage .chatBody {
  width: 100%;
  margin: 0 auto;
  height: 82vh;
  max-height: 82vh;
  overflow: hidden;
  overflow-y: auto;
}
.chat .chatPage .chatBody::-webkit-scrollbar {
  width: 5px;
}
.chat .chatPage .chatBody::-webkit-scrollbar-thumb {
  background-color: #c2ebda;
  border-radius: 10px;
}
.chat .chatPage .chatBody .other, .chat .chatPage .chatBody .self {
  padding-left: 15px;
  padding-bottom: 15px;
}
.chat .chatPage .chatBody .other .otherHead, .chat .chatPage .chatBody .self .otherHead {
  display: flex;
}
.chat .chatPage .chatBody .other .otherHead .name, .chat .chatPage .chatBody .self .otherHead .name {
  padding-top: 15px;
  padding-left: 5px;
  font-size: medium;
  font-family: cursive;
  color: cadetblue;
}
.chat .chatPage .chatBody .other .dialogue, .chat .chatPage .chatBody .self .dialogue {
  background-color: #F4F6F8;
  padding: 10px;
  width: auto;
  border-radius: 5px;
  margin: 0 45px;
}
.chat .chatPage .chatBody .self .selfHead {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}
.chat .chatPage .chatBody .self .selfHead .name {
  padding-top: 15px;
  padding-right: 5px;
  font-size: medium;
  font-family: cursive;
  color: rgba(59, 130, 246, 0.5);
}
.chat .chatPage .chatBody .self .dialogue {
  background-color: rgba(104, 207, 197, 0.2);
  padding: 10px;
  border-radius: 5px;
  margin-left: 90px;
}
.chat .set {
  min-width: 200px;
  max-width: 200px;
  transition-duration: 0.2s;
  overflow: auto;
  position: relative;
  border-left: 1px solid silver;
}
.chat .set .setBack {
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: right;
  line-height: 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 1px solid silver;
  position: absolute;
  top: 50%;
  left: -15px;
  z-index: 1;
}
.chat .set .setBack .iconfont {
  padding-right: 2px;
}
.chat .set .groupInfo {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.chat .set .groupInfo .info {
  width: 70%;
  font-size: 15px;
  font-family: cursive;
}
.chat .set .groudMember {
  border-bottom: 1px solid silver;
}
.chat .set .groudMember .memberNumber {
  border-top: 1px solid silver;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: cursive;
  padding: 10px 0;
}
.chat .set .groudMember li {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 15px;
  color: cadetblue;
  font-family: cursive;
  gap: 5px;
}
.chat .set .groudMember li img {
  width: 25px;
  height: 25px;
}
.chat .set .editRemark {
  padding: 10px;
}
.chat .set .editRemark p {
  font-size: 15px;
}
.chat .set .editRemark #remark {
  color: rgb(59, 130, 246);
}
.chat .set .outGroup {
  padding: 10px;
  padding-bottom: 30px;
}
.chat .set .outGroup button {
  display: block;
  background-color: rgba(237, 85, 106, 0.5);
  border: none;
  min-width: 50%;
  margin: 0 auto;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 5px;
}

img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.otherClassMain {
  display: flex;
  justify-content: flex-end;
}

.chatmain {
  width: 100%;
}/*# sourceMappingURL=chatMessage.css.map */