.viedouploadMain {
  width: 50%;
  margin: 0 auto;
}

.viedouploadMain .viedoUploadMaincenter {
  width: 100%;
  height: 300px;
  position: relative;
  border: 2px dotted var(--el-color-primary);
}

.viedoCreaterMainCenter {
  padding-top: 20px;
}

.viedoUploadIcon {
  width: 50%;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.viedoUploadIcon button {
  border: none;
  padding: 9px 12px;
  color: white;
  border-radius: 6px;
  background-color: var(--el-color-opcatiy);
}

.fileUpload {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  margin-left: 50px;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.uploadViedoList {
  width: 100%;
}

.uploadViedoList .topListViedoShowCenter {
  width: 90%;
  margin: 10px auto;
  padding: 6px 12px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #eeeeef;
}

.uploadViedoList .topListViedoShowCenter .onceUploadFiles {
  float: left;
  background-color: white;
  width: 20%;
  border-radius: 6px;
  margin-left: 15px;
}

.uploadViedoList .topListViedoShowCenter .onceUploadFiles .onceUploadFileCenter {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: 50px;
  position: relative;
}

.uploadViedoList .topListViedoShowCenter .onceUploadFiles .onceUploadFileCenter p {
  color: #797878;
}

.uploadViedoList .topListViedoShowCenter .onceUploadFiles .onceUploadFileCenter .uploadwordsFiles {
  position: absolute;
  bottom: 0px;
}

.uploadViedoList .topListViedoShowCenter .onceUploadFiles .onceUploadFileCenter .uploadwordsFiles span {
  color: #797878;
  font-size: 12px;
  position: relative;
  top: -3px;
}

.deleteUploadFiles {
  position: absolute;
  top: 0px;
  right: 0px;
}

.deleteUploadFiles:hover {
  cursor: pointer;
}

.uploadFilesListBtn {
  width: 10% !important;
}

.uploadFilesListBtnCenter {
  width: 100%;
  height: 50px;
  position: relative;
}

.uploadFilesListBtnCenter .uploadFilesListBtnMain {
  height: 40px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uploadFilesListBtnCenter .uploadFilesListBtnMain input {
  opacity: 0;
  top: 0px;
  left: 0px;
  position: absolute;
}

.uploadFilesListBtnCenter .uploadFilesListBtnMain p {
  color: #949495;
  font-size: 13px;
  transform: scale(0.9);
}

.fillInMessage {
  width: 90%;
  margin: 20px auto;
}

.progressbarViedo {
  margin-top: 10px;
  margin: 0 auto;
  width: 90%;
}

.uploadFilesIcon {
  display: flex;
  padding-left: 10px;
  margin-top: 10px;
}

.uploadBarprogress {
  width: 50%;
  position: relative;
  top: 5px;
}

.changeViedoprogress {
  height: 100%;
  width: 20%;
  position: relative;
}

.changeViedoprogressBorder {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--el-color-opcatiy);
  text-align: center;
}

.changeViedoprogressBorder .icon {
  position: relative;
  top: 4px;
}

.changeViedoprogressposition {
  width: 100%;
  position: absolute;
  top: -26px;
}

.changeViedoprogressposition span {
  font-size: 12px;
  color: #949495;
  position: relative;
  left: -8px;
}

.onceUploadFilesflage {
  border: 2px solid var(--el-color-opcatiy);
}

.onceUploadFiles:hover {
  cursor: pointer;
  border: 2px solid var(--el-color-opcatiy);
}

.el-button:hover {
  background-color: var(--el-color-primary);
}

.fillInPhotoShow {
  width: 300px;
  height: 150px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.fillInPhotoShow img {
  width: 100%;
}

.fillInPhotoShow .changePhoto {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0px;
  background-color: rgba(148, 148, 148, 0.5);
}

.fillInPhotoShow .changePhoto p {
  color: white;
}

.changecoverMain {
  width: 100%;
}

.photoCoverSelect {
  width: 95%;
  margin: 0 auto;
}

.photoCoverSelect .photoCoverSelected {
  width: 90%;
  border-radius: 6px;
  height: 300px;
  margin-top: 10px;
  overflow: hidden;
}

.photoCoverSelect .photoCoverSelected img {
  width: 100%;
  height: auto;
}

.userPhotoListSelect {
  width: 100%;
  overflow: hidden;
  margin-top: 12px;
}

.userPhotoListSelect .photoList {
  width: 20%;
  text-align: center;
  float: left;
}

.userPhotoListSelect .photoList img {
  width: 100%;
  height: 80px;
}

.photoList:hover {
  cursor: pointer;
}

.photoList:hover img {
  transform: scale(1.2);
}
